
@{
    ViewBag.Title = "PersonalInfo";
}

<h2>Personal Info</h2>

<table class="table table-bordered">
    <tr>
        <td>Name</td>
        <td>Md. Nabobi Hasan</td>

    </tr>

    <tr>
        <td>Father's Name</td>
        <td>A.K.M. Khayrul Hasan</td>
    </tr>

    <tr>
        <td>Mothers's Name</td>
        <td>Selina Akter</td>
    </tr>

    <tr>
        <td>Address</td>
        <td>Wirelesspara, Goalchamat, Farudpur</td>
    </tr>

    <tr>
        <td>Nationality</td>
        <td>Bangladeshi</td>
    </tr>

    <tr>
        <td>Religion</td>
        <td>Islam</td>
    </tr>

    <tr>
        <td>Occupation</td>
        <td>Student</td>
    </tr>


</table>