
@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<table class="table table-bordered">
    <tr>
        <td>Name</td>
        <td>Id</td>
        <td>Dept</td>
    </tr>

    <tr>
        <td>Shatin</td>
        <td>11</td>
        <td>CSE</td>
    </tr>

    <tr>
        <td>Murfad</td>
        <td>12</td>
        <td>CSE</td>
    </tr>

    <tr>
        <td>Siam</td>
        <td>13</td>
        <td>CSE</td>
    </tr>

    <tr>
        <td>Jub</td>
        <td>1d</td>
        <td>CSE</td>
    </tr>
</table>

